body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
form {
  color: #ffebc4;
  text-align: center;
}
hr {
  padding: 5px 5px 5px 0;
}
.open-source {
  margin: 10px 0 5px 0 auto;
  max-width: 800px;
  border-radius: 25px;
}
.body-app {
  border: 1px solid rgb(255, 194, 113);
  margin: 10px 0 5px 0 auto;
  max-width: 1000px;
  border-radius: 25px;
  background-color: #ffebc4;
}
.city-today {
  font-family: "Roboto", sans-serif;
  border: 10px;
  border-radius: 10px;
  margin: 20px 20px 10px 10px;
  font-size: 30px;
}
.date-today {
  font-family: "Roboto", sans-serif;
  margin: 10px;
  font-size: 20px;
}
.icon-size {
  width: 200px;
}
hr {
  margin: 5px 30px 5px 30px;
  color: blanchedalmond;
}

.weather-description {
  font-size: 15px;
}
.temperature-today {
  font-family: "Roboto", sans-serif;
}
.max-temp {
  font-size: 40px;
}
.min-temp {
  font-size: 35px;
}
.next-days-title {
  margin: 10px 0px 10px;
  border-radius: 4px;
}

.bold-city {
  font-weight: bold;
}

.active {
  color: black;
}

.weather-forecast {
  margin-top: 10px;
}
